<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<title>Nova planta</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>

		{% load static %}
		<link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
	</head>

	<body>
		<div class="container">
			<div class="brand">
				{% load static %}
				<img
					class="brand-image"
					src="{% static 'images/greenSentinelLogo.png' %}"
				/>

				<div class="brand-title">Green Sentinel</div>
			</div>

			<div class="col-8 m-auto pt-2 pb-2 text-center">
				<h2>Cadastro de Planta</h2>

				<a
					href="http://127.0.0.1:8000/plantas/"
					class="system-button add-button"
				>
					Voltar</a
				>
			</div>

			<div class="col-8 m-auto pt-2 pb-2 text-center">
				<form
					name="form_planta"
					id="form_planta"
					action="{% if db %}/update_planta/{{db.id}}/{%else%}/create_planta/{% endif %}"
					method="post"
				>
					{% csrf_token %}
					<div class="form-group">
						Nome Científico: {{form_planta.nome_cientifico}}
					</div>
					<div class="form-group mt-4">
						Família: {{form_planta.familia}}
					</div>
					<div class="form-group mt-4">
						País de Origem: {{form_planta.pais_origem}}
					</div>
					<div class="form-group mt-4">Cor: {{form_planta.cor}}</div>
					<div class="form-group mt-4">
						Floração: {{form_planta.floracao}}
					</div>
					<div class="form-group mt-4">
						Tamanho Médio (em metros): {{form_planta.tamanho_medio}}
					</div>
					<div class="form-group mt-4">
						Frequência de Irrigação:
						{{form_planta.frequencia_irrigacao}}
					</div>
					<div class="form-group mt-4">
						Solo: {{form_planta.solo}}
					</div>
					<div class="form-group mt-4 mb-4">
						Luminosidade Preferida:
						{{form_planta.luminosidade_preferida}}
					</div>
					<input
						type="submit"
						class="system-button add-button"
						value="Cadastrar"
					/>
				</form>
			</div>
		</div>

		{% load static %}
		<script src="{% static 'js/javascript.js' %}"></script>
	</body>
</html>
