<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class ="col-8 m-auto pt-2 pb-2 text-center">
        <h1> Crud com Python</h1>
    </div>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/form" class="btn btn-sucess"> Adicionar</a>

    </div>
     <div class="col-8 m-auto pt-2 pb-2 text-center">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">nome_cientifico</th>
      <th scope="col">pais_origem </th>
      <th scope="col">cor</th>
      <th scope="col">floracao</th>
      <th scope="col">tamanho_medio </th>
      <th scope="col">solo</th>
      <th scope="col">luminosidade_preferida</th>
      <th scope="col">frequencia_irrigacao</th>

    </tr>
  </thead>
  </tbody>
</table>
    </div>

</body>
</html>