<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<title>Cadastro</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>

		{% load static %}
		<link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
	</head>

	<body>
		<div class="container">
			<div class="brand">
				{% load static %}
				<img
					class="brand-image"
					src="{% static 'images/greenSentinelLogo.png' %}"
				/>

				<div class="brand-title">Green Sentinel</div>
			</div>

			<div class="col-8 m-auto pt-2 pb-2 text-center">
				<h2>Cadastro</h2>

				<a
					href="http://127.0.0.1:8000/"
					class="system-button add-button"
				>
					Voltar</a
				>
			</div>

			<form
				name="form-users"
				id="formUsers"
				method="post"
				action="/create_user/"
			>
				<div class="col-6 mt-4 m-auto">
					{% if msg %}
					<div class="alert {{class}}">{{msg}}</div>
					{% endif %} {% csrf_token %}
					<input
						class="form-control mt-4"
						type="text"
						name="name"
						id="name"
						placeholder="Nome completo"
					/>
					<input
						class="form-control mt-4"
						type="text"
						name="user"
						id="user"
						placeholder="Nome de usuário"
					/>
					<input
						class="form-control mt-4"
						type="password"
						name="password"
						id="password"
						placeholder="Senha"
					/>
					<input
						class="form-control mt-4"
						type="password"
						name="password-conf"
						id="password-conf"
						placeholder="Confirmação da senha"
					/>
					<input
						class="form-control mt-4"
						type="email"
						name="email"
						id="email"
						placeholder="Email"
					/>
					<input
						class="system-button add-button"
						type="submit"
						value="Cadastrar"
					/>
				</div>
			</form>
		</div>
	</body>
</html>
