<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<title>Sensores</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

		{% load static %}
		<link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
	</head>

	<body>
		<div class="container">
			<div>
			<div class="brand">
				{% load static %}
				<img
					class="brand-image"
					src="{% static 'images/greenSentinelLogo.png' %}"
				/>

				<div class="brand-title">Green Sentinel</div>
			</div>

			<a class="home-button" href="http://127.0.0.1:8000/home/"><i class="fas fa-home"></i>Home</a>
			

			<div class="col-8 m-auto pt-2 pb-2 text-center">
				<h2>Sensores</h2>

				<a href="/create_sensor" class="system-button add-button">Adicionar</a>
			</div>

			<div class="col-10 m-auto pt-2 pb-2 text-center">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th scope="col">Potencia</th>
							<th scope="col">Duração</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for dbs in db %}
						<tr>
							<th>{{dbs.id}}</th>
							<td>{{dbs.name}}</td>
							<td>{{dbs.potency}}</td>
							<td>{{dbs.duration}}</td>
							<td>
								<a
									href="/view_sensor/{{dbs.id}}/"
									class="btn btn-dark"
									>Visualizar</a
								>
								<a
									href="/edit_sensor/{{dbs.id}}/"
									class="btn btn-primary"
									>Editar</a
								>
								<a
									href="/delete_sensor/{{dbs.id}}/"
									class="btn btn-danger btnDel"
									>Deletar</a
								>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
