@import url("styles.css");

.logout-button {
    position: absolute;
    top: 12px;
    right: 16px;
    color: indianred;
}

.logout-button:hover {
    color: indianred;
    text-decoration: none;
}

.logout-button i {
    margin-right: 8px;
}

.navigation {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 12px;
    user-select: none;
}

.navigation-button {
    padding: 8px 12px;
    margin: 0 16px;
    background-color: #53AF67;
    border: 1px solid #53AF67;
    border-radius: 8px;
    cursor: pointer;
    color: #FFFFFF !important;
}

.navigation-button:hover {
    background-color: #FFFFFF;
    color: #53AF67 !important;
    text-decoration: none;
}

.navigation-button i {
    margin-right: 8px;
}

#selectSensor {
    margin-bottom: 20px;
}

table {
    margin: 0 auto !important;
}